alien.o
audio.o
bullet.o
cargo.o
collectable.o
engine.o
explosion.o
game.o
graphics.o
init.o
intermission.o
libFLAC-8.dll
libjpeg-9.dll
libmodplug-1.dll
libogg-0.dll
libpng16-16.dll
libtiff-5.dll
libvorbis-0.dll
libvorbisfile-3.dll
libwebp-4.dll
LICENSE.FLAC.txt
LICENSE.jpeg.txt
LICENSE.modplug.txt
LICENSE.ogg-vorbis.txt
LICENSE.png.txt
LICENSE.smpeg.txt
LICENSE.tiff.txt
LICENSE.webp.txt
LICENSE.zlib.txt
README-SDL.txt
resources.o
script.o
SDL2.dll
SDL2_image.dll
SDL2_mixer.dll
ship.o
shop.o
smpeg2.dll
starfighter.exe
Starfighter.o
starfighter-1.4-win32.patch
title.o
loadSave.o
messages.o
misc.o
missions.o
player.o
weapons.o
zlib1.dll
resource.o
starfighter-1.5.1-win32.patch
gfx.o
colors.o
cutscene.o
event.o
renderer.o
screen.o
window.o
resource.rc
icon.ico
